/* normalize.css v2.1.2 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}afocus{outline:thin dotted}aactive,ahover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type="search"]-webkit-search-cancel-button,input[type="search"]-webkit-search-decoration{-webkit-appearance:none}button-moz-focus-inner,input-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f;
}

.tomorrow-yellow, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8;
}

pre code {
  display: block;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body{font-family:Georgia,serif;font-size:21px;line-height:1.52;text-rendering:optimizeLegibility;}body.home ul li{list-style:none;margin:0;}body.home ul li article{margin-bottom:2.5em}body.home ul li header,body.home ul li p{margin:0}.content-wrap{width:28em;margin:0 auto}body,a{color:#57534a}a{text-decoration:underline;}a:hover{color:#496bb8;text-decoration:none}p{margin-bottom:1.52em;}p code{font-size:.95em}pre{font-size:.9em;overflow-x:auto;overflow-y:hidden;padding-bottom:.9em;white-space:pre;}pre code{line-height:1.1;padding:0}h1,h2,h3{color:#423f37}h1{font-size:1.8em;margin-bottom:1em;font-weight:400}h2{font-size:1.4em;font-weight:400;line-height:1.43;margin-bottom:1.35em}h3{font-weight:400;font-size:1.2em;margin-top:1.8em;margin-bottom:.8em}ul,ol{padding:0}li{margin-bottom:.5em}blockquote{margin:1.2em 0;padding-left:1em;font-style:italic;border-left:3px solid #f2f2f2}img{display:block;padding:4px;background-color:white;border:1px solid #ccc;box-shadow:0 1px 3px rgba(0,0,0,0.1)}.header{margin:1em 0 3em;}.header .title{display:block}.header h1,.header .title{font-size:2.5em;margin:0 0 -.2em}.header .description{font-size:1.2em;margin-top:-.3em;font-size:1em}.header h1,.header .title,.header .description{text-align:center;font-style:italic}.header a,.header a:hover{text-decoration:none;color:#423f37}footer{margin:3.48em 0 3em;}footer .nav{text-align:center;margin-top:5em;margin-bottom:3.5em;margin:1em 0;}footer .nav a{padding:0 .5em;font-size:1.2em;text-decoration:none}footer .copy{text-align:center;font-size:.7em;font-style:italic;margin-top:1em;color:#8e8e8e;}footer .copy p{margin-bottom:.4em}footer .copy nav ul{margin:0;}footer .copy nav ul li{display:inline;}footer .copy nav ul li a{color:inherit}footer .copy nav ul li + li::before{content:' | '}footer .copy p a,footer .copy nav ul li a{color:inherit;text-decoration:none;}footer .copy p a:hover,footer .copy nav ul li a:hover{text-decoration:underline}article header{margin-bottom:1.52em;}article header h1,article header h2{margin-bottom:-.2em}article header time{color:#8e8e8e;font-size:.8em}.caps{font-size:.95em}.reply{margin-left:20px}.ord{font-size:.7em;vertical-align:super}a.anchor{display:none;text-decoration:none;font-weight:lighter;font-style:normal;position:absolute;color:#f2f2f2;}a.anchor:before{content:'\00B6'}h1:hover a.anchor,h2:hover a.anchor,h3:hover a.anchor,h4:hover a.anchor,h5:hover a.anchor,h6:hover a.anchor,p:hover a.anchor{display:inline-block;margin-left:-1em;padding-right:.5em;}h1:hover a.anchor:hover,h2:hover a.anchor:hover,h3:hover a.anchor:hover,h4:hover a.anchor:hover,h5:hover a.anchor:hover,h6:hover a.anchor:hover,p:hover a.anchor:hover{color:#8e8e8e}blockquote p:hover a.anchor{display:inline-block;margin-left:-2.2em;padding-right:1.7em}@media (min-width:1600px){body{font-size:26px}}@media (max-width:900px){body{font-size:18px}}@media (max-width:690px){.content-wrap{width:auto;padding:0 1.8em}.header{margin:1em 0;}.header .description{font-size:1em}article{margin:1em 0 2.5em}}.pull-right{float:right}